# Project 3
### Group member: Jingmin Chen, Yusen Wu, Jiaqi Min

In [227]:
# import csv,numpy,re library
import csv
import numpy as np
import re
#create a empty list a to store data
a = []
with open('tournamentinfo.txt') as csvfile: 
    readCSV = csv.reader(csvfile)
    for row in readCSV:
        a.append(row)
    # print each row as read by the csv.reader function
#print the tournamentinfo.txt file
a

[['-----------------------------------------------------------------------------------------'],
 [' Pair | Player Name                     |Total|Round|Round|Round|Round|Round|Round|Round| '],
 [' Num  | USCF ID / Rtg (Pre->Post)       | Pts |  1  |  2  |  3  |  4  |  5  |  6  |  7  | '],
 ['-----------------------------------------------------------------------------------------'],
 ['    1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|'],
 ['   ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['    2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|'],
 ['   MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['    3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|'],
 ['   MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['    4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|'],
 ['   MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['    5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|'],
 ['   MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['    6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|'],
 ['   OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['    7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|'],
 ['   MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['    8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|'],
 ['   MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['    9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|'],
 ['   ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|'],
 ['   MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|'],
 ['   MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|'],
 ['   MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|'],
 ['   MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|'],
 ['   MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|'],
 ['   MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |'],
 ['   MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|'],
 ['   MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|'],
 ['   MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|'],
 ['   MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|'],
 ['   MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|'],
 ['   ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|'],
 ['   MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|'],
 ['   ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|'],
 ['   MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|'],
 ['   MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|'],
 ['   ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |'],
 ['   MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|'],
 ['   MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |'],
 ['   MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|'],
 ['   ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|'],
 ['   MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|'],
 ['   ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|'],
 ['   MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|'],
 ['   MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|'],
 ['   MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|'],
 ['   MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|'],
 ['   MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|'],
 ['   MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|'],
 ['   MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|'],
 ['   MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |'],
 ['   MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|'],
 ['   MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|'],
 ['   MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|'],
 ['   MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|'],
 ['   MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|'],
 ['   MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|'],
 ['   MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|'],
 ['   MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |'],
 ['   MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|'],
 ['   MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|'],
 ['   MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|'],
 ['   MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |'],
 ['   MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|'],
 ['   MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|'],
 ['   MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|'],
 ['   MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |'],
 ['   MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|'],
 ['   MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|'],
 ['   MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |'],
 ['   MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|'],
 ['   ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |'],
 ['   MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |'],
 ['   MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     |'],
 ['-----------------------------------------------------------------------------------------'],
 ['   64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|'],
 ['   MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    |'],
 ['-----------------------------------------------------------------------------------------']]

Use "a = a[3:]" to remove first three rows, arange 'a' to two lists, row1 and row2, row1 is 3 times length+2, strat at 2,step 3 for each row and end at the length of a ,row2 is 3 times length +3, start at 3, step 3 for each row and also end at the length of a

In [228]:
# remove first three rows
a = a[3:]
# use len function to get the length of a
length = len(a)
# use np.arange to arange a, start at 2,step 3, end at 3
row1_num = np.arange(1,length,3)
step = 0
# create a empty list to store first arange list
row1 = []
#create a for loop, if variable step in row1_num, store that row to row1[]
for i in a:
    if(step in row1_num):
        row1.append(i)
    step = step+1
#print row1 
row1

[['    1 | GARY HUA                        |6.0  |W  39|W  21|W  18|W  14|W   7|D  12|D   4|'],
 ['    2 | DAKSHESH DARURI                 |6.0  |W  63|W  58|L   4|W  17|W  16|W  20|W   7|'],
 ['    3 | ADITYA BAJAJ                    |6.0  |L   8|W  61|W  25|W  21|W  11|W  13|W  12|'],
 ['    4 | PATRICK H SCHILLING             |5.5  |W  23|D  28|W   2|W  26|D   5|W  19|D   1|'],
 ['    5 | HANSHI ZUO                      |5.5  |W  45|W  37|D  12|D  13|D   4|W  14|W  17|'],
 ['    6 | HANSEN SONG                     |5.0  |W  34|D  29|L  11|W  35|D  10|W  27|W  21|'],
 ['    7 | GARY DEE SWATHELL               |5.0  |W  57|W  46|W  13|W  11|L   1|W   9|L   2|'],
 ['    8 | EZEKIEL HOUGHTON                |5.0  |W   3|W  32|L  14|L   9|W  47|W  28|W  19|'],
 ['    9 | STEFANO LEE                     |5.0  |W  25|L  18|W  59|W   8|W  26|L   7|W  20|'],
 ['   10 | ANVIT RAO                       |5.0  |D  16|L  19|W  55|W  31|D   6|W  25|W  18|'],
 ['   11 | CAMERON WILLIAM MC LEMAN        |4.5  |D  38|W  56|W   6|L   7|L   3|W  34|W  26|'],
 ['   12 | KENNETH J TACK                  |4.5  |W  42|W  33|D   5|W  38|H    |D   1|L   3|'],
 ['   13 | TORRANCE HENRY JR               |4.5  |W  36|W  27|L   7|D   5|W  33|L   3|W  32|'],
 ['   14 | BRADLEY SHAW                    |4.5  |W  54|W  44|W   8|L   1|D  27|L   5|W  31|'],
 ['   15 | ZACHARY JAMES HOUGHTON          |4.5  |D  19|L  16|W  30|L  22|W  54|W  33|W  38|'],
 ['   16 | MIKE NIKITIN                    |4.0  |D  10|W  15|H    |W  39|L   2|W  36|U    |'],
 ['   17 | RONALD GRZEGORCZYK              |4.0  |W  48|W  41|L  26|L   2|W  23|W  22|L   5|'],
 ['   18 | DAVID SUNDEEN                   |4.0  |W  47|W   9|L   1|W  32|L  19|W  38|L  10|'],
 ['   19 | DIPANKAR ROY                    |4.0  |D  15|W  10|W  52|D  28|W  18|L   4|L   8|'],
 ['   20 | JASON ZHENG                     |4.0  |L  40|W  49|W  23|W  41|W  28|L   2|L   9|'],
 ['   21 | DINH DANG BUI                   |4.0  |W  43|L   1|W  47|L   3|W  40|W  39|L   6|'],
 ['   22 | EUGENE L MCCLURE                |4.0  |W  64|D  52|L  28|W  15|H    |L  17|W  40|'],
 ['   23 | ALAN BUI                        |4.0  |L   4|W  43|L  20|W  58|L  17|W  37|W  46|'],
 ['   24 | MICHAEL R ALDRICH               |4.0  |L  28|L  47|W  43|L  25|W  60|W  44|W  39|'],
 ['   25 | LOREN SCHWIEBERT                |3.5  |L   9|W  53|L   3|W  24|D  34|L  10|W  47|'],
 ['   26 | MAX ZHU                         |3.5  |W  49|W  40|W  17|L   4|L   9|D  32|L  11|'],
 ['   27 | GAURAV GIDWANI                  |3.5  |W  51|L  13|W  46|W  37|D  14|L   6|U    |'],
 ['   28 | SOFIA ADINA STANESCU-BELLU      |3.5  |W  24|D   4|W  22|D  19|L  20|L   8|D  36|'],
 ['   29 | CHIEDOZIE OKORIE                |3.5  |W  50|D   6|L  38|L  34|W  52|W  48|U    |'],
 ['   30 | GEORGE AVERY JONES              |3.5  |L  52|D  64|L  15|W  55|L  31|W  61|W  50|'],
 ['   31 | RISHI SHETTY                    |3.5  |L  58|D  55|W  64|L  10|W  30|W  50|L  14|'],
 ['   32 | JOSHUA PHILIP MATHEWS           |3.5  |W  61|L   8|W  44|L  18|W  51|D  26|L  13|'],
 ['   33 | JADE GE                         |3.5  |W  60|L  12|W  50|D  36|L  13|L  15|W  51|'],
 ['   34 | MICHAEL JEFFERY THOMAS          |3.5  |L   6|W  60|L  37|W  29|D  25|L  11|W  52|'],
 ['   35 | JOSHUA DAVID LEE                |3.5  |L  46|L  38|W  56|L   6|W  57|D  52|W  48|'],
 ['   36 | SIDDHARTH JHA                   |3.5  |L  13|W  57|W  51|D  33|H    |L  16|D  28|'],
 ['   37 | AMIYATOSH PWNANANDAM            |3.5  |B    |L   5|W  34|L  27|H    |L  23|W  61|'],
 ['   38 | BRIAN LIU                       |3.0  |D  11|W  35|W  29|L  12|H    |L  18|L  15|'],
 ['   39 | JOEL R HENDON                   |3.0  |L   1|W  54|W  40|L  16|W  44|L  21|L  24|'],
 ['   40 | FOREST ZHANG                    |3.0  |W  20|L  26|L  39|W  59|L  21|W  56|L  22|'],
 ['   41 | KYLE WILLIAM MURPHY             |3.0  |W  59|L  17|W  58|L  20|X    |U    |U    |'],
 ['   42 | JARED GE                        |3.0  |L  12|L  50|L  57|D  60|D  61|W  64|W  56|'],
 ['   43 | ROBERT GLEN VASEY               |3.0  |L  21|L  23|L  24|W  63|W  59|L  46|W  55|'],
 ['   44 | JUSTIN D SCHILLING              |3.0  |B    |L  14|L  32|W  53|L  39|L  24|W  59|'],
 ['   45 | DEREK YAN                       |3.0  |L   5|L  51|D  60|L  56|W  63|D  55|W  58|'],
 ['   46 | JACOB ALEXANDER LAVALLEY        |3.0  |W  35|L   7|L  27|L  50|W  64|W  43|L  23|'],
 ['   47 | ERIC WRIGHT                     |2.5  |L  18|W  24|L  21|W  61|L   8|D  51|L  25|'],
 ['   48 | DANIEL KHAIN                    |2.5  |L  17|W  63|H    |D  52|H    |L  29|L  35|'],
 ['   49 | MICHAEL J MARTIN                |2.5  |L  26|L  20|D  63|D  64|W  58|H    |U    |'],
 ['   50 | SHIVAM JHA                      |2.5  |L  29|W  42|L  33|W  46|H    |L  31|L  30|'],
 ['   51 | TEJAS AYYAGARI                  |2.5  |L  27|W  45|L  36|W  57|L  32|D  47|L  33|'],
 ['   52 | ETHAN GUO                       |2.5  |W  30|D  22|L  19|D  48|L  29|D  35|L  34|'],
 ['   53 | JOSE C YBARRA                   |2.0  |H    |L  25|H    |L  44|U    |W  57|U    |'],
 ['   54 | LARRY HODGE                     |2.0  |L  14|L  39|L  61|B    |L  15|L  59|W  64|'],
 ['   55 | ALEX KONG                       |2.0  |L  62|D  31|L  10|L  30|B    |D  45|L  43|'],
 ['   56 | MARISA RICCI                    |2.0  |H    |L  11|L  35|W  45|H    |L  40|L  42|'],
 ['   57 | MICHAEL LU                      |2.0  |L   7|L  36|W  42|L  51|L  35|L  53|B    |'],
 ['   58 | VIRAJ MOHILE                    |2.0  |W  31|L   2|L  41|L  23|L  49|B    |L  45|'],
 ['   59 | SEAN M MC CORMICK               |2.0  |L  41|B    |L   9|L  40|L  43|W  54|L  44|'],
 ['   60 | JULIA SHEN                      |1.5  |L  33|L  34|D  45|D  42|L  24|H    |U    |'],
 ['   61 | JEZZEL FARKAS                   |1.5  |L  32|L   3|W  54|L  47|D  42|L  30|L  37|'],
 ['   62 | ASHWIN BALAJI                   |1.0  |W  55|U    |U    |U    |U    |U    |U    |'],
 ['   63 | THOMAS JOSEPH HOSMER            |1.0  |L   2|L  48|D  49|L  43|L  45|H    |U    |'],
 ['   64 | BEN LI                          |1.0  |L  22|D  30|L  31|D  49|L  46|L  42|L  54|']]

In [225]:
# use len function to get the length of a
length = len(a)
# use np.arange to arange a, start at 3,step 3, end at 3
row2_num = np.arange(2,length,3)
step = 0
# create a empty list to store first arange list
row2 = []
#create a for loop, if variable step in row2_num, store that row to row2[]
for i in a:
    if(step in row2_num):
        row2.append(i)
    step = step+1
#print row2
row2

[['   ON | 15445895 / R: 1794   ->1817     |N:2  |W    |B    |W    |B    |W    |B    |W    |'],
 ['   MI | 14598900 / R: 1553   ->1663     |N:2  |B    |W    |B    |W    |B    |W    |B    |'],
 ['   MI | 14959604 / R: 1384   ->1640     |N:2  |W    |B    |W    |B    |W    |B    |W    |'],
 ['   MI | 12616049 / R: 1716   ->1744     |N:2  |W    |B    |W    |B    |W    |B    |B    |'],
 ['   MI | 14601533 / R: 1655   ->1690     |N:2  |B    |W    |B    |W    |B    |W    |B    |'],
 ['   OH | 15055204 / R: 1686   ->1687     |N:3  |W    |B    |W    |B    |B    |W    |B    |'],
 ['   MI | 11146376 / R: 1649   ->1673     |N:3  |W    |B    |W    |B    |B    |W    |W    |'],
 ['   MI | 15142253 / R: 1641P17->1657P24  |N:3  |B    |W    |B    |W    |B    |W    |W    |'],
 ['   ON | 14954524 / R: 1411   ->1564     |N:2  |W    |B    |W    |B    |W    |B    |B    |'],
 ['   MI | 14150362 / R: 1365   ->1544     |N:3  |W    |W    |B    |B    |W    |B    |W    |'],
 ['   MI | 12581589 / R: 1712   ->1696     |N:3  |B    |W    |B    |W    |B    |W    |B    |'],
 ['   MI | 12681257 / R: 1663   ->1670     |N:3  |W    |B    |W    |B    |     |W    |B    |'],
 ['   MI | 15082995 / R: 1666   ->1662     |N:3  |B    |W    |B    |B    |W    |W    |B    |'],
 ['   MI | 10131499 / R: 1610   ->1618     |N:3  |W    |B    |W    |W    |B    |B    |W    |'],
 ['   MI | 15619130 / R: 1220P13->1416P20  |N:3  |B    |B    |W    |W    |B    |B    |W    |'],
 ['   MI | 10295068 / R: 1604   ->1613     |N:3  |B    |W    |     |B    |W    |B    |     |'],
 ['   MI | 10297702 / R: 1629   ->1610     |N:3  |W    |B    |W    |B    |W    |B    |W    |'],
 ['   MI | 11342094 / R: 1600   ->1600     |N:3  |B    |W    |B    |W    |B    |W    |B    |'],
 ['   MI | 14862333 / R: 1564   ->1570     |N:3  |W    |B    |W    |B    |W    |W    |B    |'],
 ['   MI | 14529060 / R: 1595   ->1569     |N:4  |W    |B    |W    |B    |W    |B    |W    |'],
 ['   ON | 15495066 / R: 1563P22->1562     |N:3  |B    |W    |B    |W    |W    |B    |W    |'],
 ['   MI | 12405534 / R: 1555   ->1529     |N:4  |W    |B    |W    |B    |     |W    |B    |'],
 ['   ON | 15030142 / R: 1363   ->1371     |     |B    |W    |B    |W    |B    |W    |B    |'],
 ['   MI | 13469010 / R: 1229   ->1300     |N:4  |B    |W    |B    |B    |W    |W    |B    |'],
 ['   MI | 12486656 / R: 1745   ->1681     |N:4  |B    |W    |B    |W    |B    |W    |B    |'],
 ['   ON | 15131520 / R: 1579   ->1564     |N:4  |B    |W    |B    |W    |B    |W    |W    |'],
 ['   MI | 14476567 / R: 1552   ->1539     |N:4  |W    |B    |W    |B    |W    |B    |     |'],
 ['   MI | 14882954 / R: 1507   ->1513     |N:3  |W    |W    |B    |W    |B    |B    |W    |'],
 ['   MI | 15323285 / R: 1602P6 ->1508P12  |N:4  |B    |W    |B    |W    |W    |B    |     |'],
 ['   ON | 12577178 / R: 1522   ->1444     |     |W    |B    |B    |W    |W    |B    |B    |'],
 ['   MI | 15131618 / R: 1494   ->1444     |     |B    |W    |B    |W    |B    |W    |B    |'],
 ['   ON | 14073750 / R: 1441   ->1433     |N:4  |W    |B    |W    |B    |W    |B    |W    |'],
 ['   MI | 14691842 / R: 1449   ->1421     |     |B    |W    |B    |W    |B    |W    |B    |'],
 ['   MI | 15051807 / R: 1399   ->1400     |     |B    |W    |B    |B    |W    |B    |W    |'],
 ['   MI | 14601397 / R: 1438   ->1392     |     |W    |W    |B    |W    |B    |B    |W    |'],
 ['   MI | 14773163 / R: 1355   ->1367     |N:4  |W    |B    |W    |B    |     |W    |B    |'],
 ['   MI | 15489571 / R:  980P12->1077P17  |     |     |B    |W    |W    |     |B    |W    |'],
 ['   MI | 15108523 / R: 1423   ->1439     |N:4  |W    |B    |W    |W    |     |B    |B    |'],
 ['   MI | 12923035 / R: 1436P23->1413     |N:4  |B    |W    |B    |W    |B    |W    |W    |'],
 ['   MI | 14892710 / R: 1348   ->1346     |     |B    |B    |W    |W    |B    |W    |W    |'],
 ['   MI | 15761443 / R: 1403P5 ->1341P9   |     |B    |W    |B    |W    |     |     |     |'],
 ['   MI | 14462326 / R: 1332   ->1256     |     |B    |W    |B    |B    |W    |W    |B    |'],
 ['   MI | 14101068 / R: 1283   ->1244     |     |W    |B    |W    |W    |B    |B    |W    |'],
 ['   MI | 15323504 / R: 1199   ->1199     |     |     |W    |B    |B    |W    |B    |W    |'],
 ['   MI | 15372807 / R: 1242   ->1191     |     |W    |B    |W    |B    |W    |B    |W    |'],
 ['   MI | 15490981 / R:  377P3 ->1076P10  |     |B    |W    |B    |W    |B    |W    |W    |'],
 ['   MI | 12533115 / R: 1362   ->1341     |     |W    |B    |W    |B    |W    |B    |W    |'],
 ['   MI | 14369165 / R: 1382   ->1335     |     |B    |W    |     |B    |     |W    |B    |'],
 ['   MI | 12531685 / R: 1291P12->1259P17  |     |W    |W    |B    |W    |B    |     |     |'],
 ['   MI | 14773178 / R: 1056   ->1111     |     |W    |B    |W    |B    |     |B    |W    |'],
 ['   MI | 15205474 / R: 1011   ->1097     |     |B    |W    |B    |W    |B    |W    |W    |'],
 ['   MI | 14918803 / R:  935   ->1092     |N:4  |B    |W    |B    |W    |B    |W    |B    |'],
 ['   MI | 12578849 / R: 1393   ->1359     |     |     |B    |     |W    |     |W    |     |'],
 ['   MI | 12836773 / R: 1270   ->1200     |     |B    |B    |W    |     |W    |B    |W    |'],
 ['   MI | 15412571 / R: 1186   ->1163     |     |W    |B    |W    |B    |     |W    |B    |'],
 ['   MI | 14679887 / R: 1153   ->1140     |     |     |B    |W    |W    |     |B    |W    |'],
 ['   MI | 15113330 / R: 1092   ->1079     |     |B    |W    |W    |B    |W    |B    |     |'],
 ['   MI | 14700365 / R:  917   -> 941     |     |W    |B    |W    |B    |W    |     |B    |'],
 ['   MI | 12841036 / R:  853   -> 878     |     |W    |     |B    |B    |W    |W    |B    |'],
 ['   MI | 14579262 / R:  967   -> 984     |     |W    |B    |B    |W    |B    |     |     |'],
 ['   ON | 15771592 / R:  955P11-> 979P18  |     |B    |W    |B    |W    |B    |W    |B    |'],
 ['   MI | 15219542 / R: 1530   ->1535     |     |B    |     |     |     |     |     |     |'],
 ['   MI | 15057092 / R: 1175   ->1125     |     |W    |B    |W    |B    |B    |     |     |'],
 ['   MI | 15006561 / R: 1163   ->1112     |     |B    |W    |W    |B    |W    |B    |B    |']]

create a regular expression pattern and store in b, and use findall function to get all of the name in first arange list 'row1'

In [102]:
# create a regular expression pattern and store in b
b = re.compile("[a-zA-Z]+\s[a-zA-Z]+\s[a-zA-Z]*")
# use findall function find all values which match the pattern
name = b.findall(str(row1))
#print name
name

['GARY HUA ',
 'DAKSHESH DARURI ',
 'ADITYA BAJAJ ',
 'PATRICK H SCHILLING',
 'HANSHI ZUO ',
 'HANSEN SONG ',
 'GARY DEE SWATHELL',
 'EZEKIEL HOUGHTON ',
 'STEFANO LEE ',
 'ANVIT RAO ',
 'CAMERON WILLIAM MC',
 'KENNETH J TACK',
 'TORRANCE HENRY JR',
 'BRADLEY SHAW ',
 'ZACHARY JAMES HOUGHTON',
 'MIKE NIKITIN ',
 'RONALD GRZEGORCZYK ',
 'DAVID SUNDEEN ',
 'DIPANKAR ROY ',
 'JASON ZHENG ',
 'DINH DANG BUI',
 'EUGENE L MCCLURE',
 'ALAN BUI ',
 'MICHAEL R ALDRICH',
 'LOREN SCHWIEBERT ',
 'MAX ZHU ',
 'GAURAV GIDWANI ',
 'SOFIA ADINA STANESCU',
 'CHIEDOZIE OKORIE ',
 'GEORGE AVERY JONES',
 'RISHI SHETTY ',
 'JOSHUA PHILIP MATHEWS',
 'JADE GE ',
 'MICHAEL JEFFERY THOMAS',
 'JOSHUA DAVID LEE',
 'SIDDHARTH JHA ',
 'AMIYATOSH PWNANANDAM ',
 'BRIAN LIU ',
 'JOEL R HENDON',
 'FOREST ZHANG ',
 'KYLE WILLIAM MURPHY',
 'JARED GE ',
 'ROBERT GLEN VASEY',
 'JUSTIN D SCHILLING',
 'DEREK YAN ',
 'JACOB ALEXANDER LAVALLEY',
 'ERIC WRIGHT ',
 'DANIEL KHAIN ',
 'MICHAEL J MARTIN',
 'SHIVAM JHA ',
 'TEJAS AYYAGARI ',
 'ETHAN GUO ',
 'JOSE C YBARRA',
 'LARRY HODGE ',
 'ALEX KONG ',
 'MARISA RICCI ',
 'MICHAEL LU ',
 'VIRAJ MOHILE ',
 'SEAN M MC',
 'JULIA SHEN ',
 'JEZZEL FARKAS ',
 'ASHWIN BALAJI ',
 'THOMAS JOSEPH HOSMER',
 'BEN LI ']

create a regular expression pattern and store in b, and use findall function to get all of the Pre_Rating in first arange list 'row1'

In [141]:
# create a regular expression pattern and store in b
b = re.compile("[0-9]\.[0-9]")
# use findall function find all values which match the pattern
Pre_Rating = b.findall(str(row1))
# print Pre_Rating
Pre_Rating

['6.0',
 '6.0',
 '6.0',
 '5.5',
 '5.5',
 '5.0',
 '5.0',
 '5.0',
 '5.0',
 '5.0',
 '4.5',
 '4.5',
 '4.5',
 '4.5',
 '4.5',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '4.0',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.5',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '3.0',
 '2.5',
 '2.5',
 '2.5',
 '2.5',
 '2.5',
 '2.5',
 '2.0',
 '2.0',
 '2.0',
 '2.0',
 '2.0',
 '2.0',
 '2.0',
 '1.5',
 '1.5',
 '1.0',
 '1.0',
 '1.0']

Create a regular expression pattern and store in b, and use findall function to get all of the state in second arange list 'row2'

In [230]:
# create a regular expression pattern and store in b
b = re.compile("[a-zA-Z]{2}")
# use findall function find all values which match the pattern
state = b.findall(str(row2))
# print state
state

['ON',
 'MI',
 'MI',
 'MI',
 'MI',
 'OH',
 'MI',
 'MI',
 'ON',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'ON',
 'MI',
 'ON',
 'MI',
 'MI',
 'ON',
 'MI',
 'MI',
 'MI',
 'ON',
 'MI',
 'ON',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'ON',
 'MI',
 'MI',
 'MI']

create a regular expression pattern and store in b, but the result would like 'R: 1794', so I create a second regular expression pattern to remove R: from the first result,

In [233]:
# create a regular expression pattern and store in b, 
b = re.compile("[A-Z]{1}\:\s+[0-9]{3,4}")
# use findall function find all values which match the pattern
points = b.findall(str(row2))
# create a new regular expression pattern and store in bb,
bb = re.compile("[0-9]+")
# use findall function find all values which match the pattern
points = bb.findall(str(points))       
# print points
points

['1794',
 '1553',
 '1384',
 '1716',
 '1655',
 '1686',
 '1649',
 '1641',
 '1411',
 '1365',
 '1712',
 '1663',
 '1666',
 '1610',
 '1220',
 '1604',
 '1629',
 '1600',
 '1564',
 '1595',
 '1563',
 '1555',
 '1363',
 '1229',
 '1745',
 '1579',
 '1552',
 '1507',
 '1602',
 '1522',
 '1494',
 '1441',
 '1449',
 '1399',
 '1438',
 '1355',
 '980',
 '1423',
 '1436',
 '1348',
 '1403',
 '1332',
 '1283',
 '1199',
 '1242',
 '377',
 '1362',
 '1382',
 '1291',
 '1056',
 '1011',
 '935',
 '1393',
 '1270',
 '1186',
 '1153',
 '1092',
 '917',
 '853',
 '967',
 '955',
 '1530',
 '1175',
 '1163']

Firstly create a while loop, if variable i less than the length of row1, create a regular expression pattern and store in b, but the result would like "39|", so I create a second regular expression pattern, to remove | from the result, and get the pair number of each rows.
After get the pair number, we created a for loop, we use for loop to get the each element from that row, and find the total points from that row, and divide by length of num, to get the Ave_Rating gor each rows

In [201]:
# create two variable i and temp
i = 0
temp = 0
# create a empty list to store value
Avg_Rating = []
# create a while loop
while(i<len(row1)):
    # create a regular expression pattern and store in b
    b = re.compile("[0-9]+\|")
    # use findall function find all values which match the pattern
    num = b.findall(str(row1[i]))
    # create a regular expression pattern and store in bb
    bb = re.compile("[0-9]+")
    # use findall function find all values which match the pattern
    num = bb.findall(str(num))
    #create a for loop, gather total points for each row
    for x in range(len(num)):
        temp = temp + int(points[int(num[x])-1])
    # get the Avg_Rating for each row and use round function to round to 2 decimal                  
    Avg_Rating.append(round(temp/len(num),2))
      
    i=i+1
    temp = 0
#pirnt result
Avg_Rating

[1605.29,
 1469.29,
 1563.57,
 1573.57,
 1500.86,
 1518.71,
 1372.14,
 1468.43,
 1523.14,
 1554.14,
 1467.57,
 1506.17,
 1497.86,
 1515.0,
 1483.86,
 1385.8,
 1498.57,
 1480.0,
 1426.29,
 1410.86,
 1470.43,
 1300.33,
 1213.86,
 1357.0,
 1363.29,
 1506.86,
 1221.67,
 1522.14,
 1313.5,
 1144.14,
 1259.86,
 1378.71,
 1276.86,
 1375.29,
 1149.71,
 1388.17,
 1384.8,
 1539.17,
 1429.57,
 1390.57,
 1248.5,
 1149.86,
 1106.57,
 1327.0,
 1152.0,
 1357.71,
 1392.0,
 1355.8,
 1285.8,
 1296.0,
 1356.14,
 1494.57,
 1345.33,
 1206.17,
 1406.0,
 1414.4,
 1363.0,
 1391.0,
 1319.0,
 1330.2,
 1327.29,
 1186.0,
 1350.2,
 1263.0]

Use the data from above to create a dataframe

In [236]:
data = {'Name':name,'State':state,'Pre_Rating':Pre_Rating,'Points':points,'Avg_Rating':Avg_Rating} 
# Create DataFrame 
df = pd.DataFrame(data) 
df

                        Name State Pre_Rating Points  Avg_Rating
0                  GARY HUA     ON        6.0   1794     1605.29
1           DAKSHESH DARURI     MI        6.0   1553     1469.29
2              ADITYA BAJAJ     MI        6.0   1384     1563.57
3        PATRICK H SCHILLING    MI        5.5   1716     1573.57
4                HANSHI ZUO     MI        5.5   1655     1500.86
5               HANSEN SONG     OH        5.0   1686     1518.71
6          GARY DEE SWATHELL    MI        5.0   1649     1372.14
7          EZEKIEL HOUGHTON     MI        5.0   1641     1468.43
8               STEFANO LEE     ON        5.0   1411     1523.14
9                 ANVIT RAO     MI        5.0   1365     1554.14
10        CAMERON WILLIAM MC    MI        4.5   1712     1467.57
11            KENNETH J TACK    MI        4.5   1663     1506.17
12         TORRANCE HENRY JR    MI        4.5   1666     1497.86
13             BRADLEY SHAW     MI        4.5   1610     1515.00
14    ZACHARY JAMES HOUGHTON    MI        4.5   1220     1483.86
15             MIKE NIKITIN     MI        4.0   1604     1385.80
16       RONALD GRZEGORCZYK     MI        4.0   1629     1498.57
17            DAVID SUNDEEN     MI        4.0   1600     1480.00
18             DIPANKAR ROY     MI        4.0   1564     1426.29
19              JASON ZHENG     MI        4.0   1595     1410.86
20             DINH DANG BUI    ON        4.0   1563     1470.43
21          EUGENE L MCCLURE    MI        4.0   1555     1300.33
22                 ALAN BUI     ON        4.0   1363     1213.86
23         MICHAEL R ALDRICH    MI        4.0   1229     1357.00
24         LOREN SCHWIEBERT     MI        3.5   1745     1363.29
25                  MAX ZHU     ON        3.5   1579     1506.86
26           GAURAV GIDWANI     MI        3.5   1552     1221.67
27      SOFIA ADINA STANESCU    MI        3.5   1507     1522.14
28         CHIEDOZIE OKORIE     MI        3.5   1602     1313.50
29        GEORGE AVERY JONES    ON        3.5   1522     1144.14
..                       ...   ...        ...    ...         ...
34          JOSHUA DAVID LEE    MI        3.5   1438     1149.71
35            SIDDHARTH JHA     MI        3.5   1355     1388.17
36     AMIYATOSH PWNANANDAM     MI        3.5    980     1384.80
37                BRIAN LIU     MI        3.0   1423     1539.17
38             JOEL R HENDON    MI        3.0   1436     1429.57
39             FOREST ZHANG     MI        3.0   1348     1390.57
40       KYLE WILLIAM MURPHY    MI        3.0   1403     1248.50
41                 JARED GE     MI        3.0   1332     1149.86
42         ROBERT GLEN VASEY    MI        3.0   1283     1106.57
43        JUSTIN D SCHILLING    MI        3.0   1199     1327.00
44                DEREK YAN     MI        3.0   1242     1152.00
45  JACOB ALEXANDER LAVALLEY    MI        3.0    377     1357.71
46              ERIC WRIGHT     MI        2.5   1362     1392.00
47             DANIEL KHAIN     MI        2.5   1382     1355.80
48          MICHAEL J MARTIN    MI        2.5   1291     1285.80
49               SHIVAM JHA     MI        2.5   1056     1296.00
50           TEJAS AYYAGARI     MI        2.5   1011     1356.14
51                ETHAN GUO     MI        2.5    935     1494.57
52             JOSE C YBARRA    MI        2.0   1393     1345.33
53              LARRY HODGE     MI        2.0   1270     1206.17
54                ALEX KONG     MI        2.0   1186     1406.00
55             MARISA RICCI     MI        2.0   1153     1414.40
56               MICHAEL LU     MI        2.0   1092     1363.00
57             VIRAJ MOHILE     MI        2.0    917     1391.00
58                 SEAN M MC    MI        2.0    853     1319.00
59               JULIA SHEN     MI        1.5    967     1330.20
60            JEZZEL FARKAS     ON        1.5    955     1327.29
61            ASHWIN BALAJI     MI        1.0   1530     1186.00
62      THOMAS JOSEPH HOSMER    MI        1.0   1175     1350.20
63                   BEN LI     MI        1.0   1163     1263.00

[64 rows x 5 columns]

convert dataframe to csv file, name data.csv

In [237]:
df.to_csv("data.csv")